.Card{
  &:not(.WithoutSVG){
    svg path{
      fill: var(--black);
    }
  }

  &:hover {
    &:not(.WithoutSVG){
      svg path{
        fill: var(--accent);
      }
    }

    p{
      color: var(--accent);
    }
  } 
}