input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
body{
  outline: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  
  --black: #00122E;
  --black-10: #00122E1A;

  --border: #00122E1A;

  --accent: #EE1527;
  --accent-10: #EE15271A;
}


body {
  background: var(--white);
  color: var(--black);
  border-color: var(--border);
  border-style: solid;
  overflow: hidden;
}
