.Horizontal{
  .Icons{
    svg:not(.Stroke){
      & path{
        fill: var(--accent);
      }
  
      &.Active path{
        fill: var(--white);
      }
    }

    svg.Stroke{
      & path{
        stroke: var(--accent);
      }
  
      &.Active path{
        stroke: var(--white);
      }
    }
  }
}

.Gradient{
  background: linear-gradient(180deg, rgba(11, 11, 11, 0) 0%, #0B0B0B 100%);
}